<ion-view view-title="Tabla Nutricional">
  <ion-content class="padding1">
    <html>
  <link href="css/tabla.css" rel="stylesheet">
  <head>

    <h1 align="center">Tabla Nutricional</h1>
  </head>
  <body>
    <p align="center">Tabla que nos ayuda a tener una mejor nutricion para asi aquellos que usen esta tabla sepan todo lo  que es bueno o saludable comer, en casos de diferentes de tablas hay unas que recomiendan el tipo de platillo que debemos comer o como esta que te llena de informacion de las calorias o grasas que contiene algunas guarniciones que acompañan a nuestra comida. </p>
    <p align="center">Energía y componentes mayoritarios de algunas frutas de consumo frecuente:</p>
    <table>
      <tr>
        <th>Fruta</th>
        <th>Energía (kcal)</th>
        <th>Agua (g)</th>
        <th>Hidratos de carbono (g)</th>
        <th>Fibra dietética (g)</th>
        <th>Grasas (g)</)th>
        <th>Proteínas (g)</th>
      </tr>
    <tr>
      <td>Aguacate</td>
      <td>134</td>
      <td>79</td>
      <td>1,3</td>
      <td>2,4</td>
      <td>13,8</td>
      <td>1,3</td>
    </tr>

    <tr>
      <td>Fresas</td>
      <td>34</td>
      <td>88</td>
      <td>7</td>
      <td>2,2</td>
      <td>0,5</td>
      <td>0,7</td>
    </tr>

    <tr>
       <td>Kiwi</td>
      <td>53</td>
      <td>83</td>
      <td>12,1</td>
      <td>1,5</td>
      <td>0,44</td>
      <td>1</td>
    </tr>

    <tr>
       <td>Limón</td>
      <td>39</td>
      <td>87</td>
      <td>9</td>
      <td>1</td>
      <td>0,3</td>
      <td>0,7</td>
    </tr>

    <tr>
       <td>Mandarina</td>
      <td>39</td>
      <td>86</td>
      <td>9</td>
      <td>1,9</td>
      <td>0,19</td>
      <td>0,8</td>
    </tr>

    <tr>
       <td>Melón</td>
      <td>37</td>
      <td>88</td>
      <td>8,4</td>
      <td>0,8</td>
      <td>0,28</td>
      <td>0,9</td>
    </tr>

    <tr>
       <td>Piña</td>
      <td>46</td>
      <td>85</td>
      <td>11,5</td>
      <td>1,2</td>
      <td>0,1</td>
      <td>0,5</td>
    </tr>

    <tr>
       <td>Sandía</td>
      <td>22</td>
      <td>93</td>
      <td>4,5</td>
      <td>0,3</td>
      <td>0,3</td>
      <td>0,5</td>
    </tr>
    <tr>
       <td>Pera</td>
      <td>48</td>
      <td>84</td>
      <td>11,7</td>
      <td>2,2</td>
      <td>0,3</td>
      <td>0,4</td>
    </tr>

    <tr>
       <td>Naranja</td>
      <td>38</td>
      <td>86</td>
      <td>8,6</td>
      <td>2,3</td>
      <td>0,3</td>
      <td>0,8</td>
    </tr>

    </table>
    <br> <br> <br> <br>
    <div class="text-center">
      <img  class="T.Nutricional" src="img/T.Nutricional.jpg"/>
    </div>
  <br>
  <br>
  <br>
  <p align="center">Este tipo de tabla ayuda a saber los nutrientes o vitaminas que contiene todo aquel producto comprado para tener una mejor informacion de la cantidad de cada una de las vitaminas que puede contener en un aproximado en kg o miligramos:</p>
  </body>
</html>

	<!-- Tabla de nutrición en HTML -->
<div class="nutrifacts-html">
  <h2> Tabla Nutricional</h2>
  <span> Tamaño De La Porción: 40g (1 Tortilla)</span>
  <div class="separator"></div>
  <!-- Tabla -->
  <table>
    <tr>
      <td colspan="2">
        <strong> Cantidad Por Unidad</strong>
          </td>
    </tr>
    <tr>
      <td>
        <strong>Calorías<strong/> 141.48kcal
      </td>
      <td class="libredeazucar"><strong>Libre De Azúcar</strong></td>
    </tr>
    <tr>
      <td></td>
      <td class="alinearcantidad"><strong>Cantidad</strong></td>
    </tr>
    <tr>
      <td><strong>Grasa Total</strong></td>
      <td class="alineartexto">2.72g</td>
    </tr>
    <tr>
      <td> Grasa Saturada</td>
      <td class="alineartexto">2.72g</td>
    </tr>
    <tr>
      <td><strong>Carbohidratos Totales</strong></td>
      <td class="alineartexto">30.064g</td>
    </tr>
     <tr>
      <td>Azúcares</td>
      <td class="alineartexto">0g</td>
    </tr>

    <tr>
      <td>Fibra</td>
      <td class="alineartexto">3.4g</td>
    </tr>
    <tr>
      <td><strong>Sodio</strong></td>
      <td class="alineartexto">0.2g</td>
    </tr>
    <tr>
      <td><strong>Proteína</strong></td>
      <td class="alineartexto">3.71g</td>
    </tr>
    <tr>
      <td><strong>Fibra Dietética</strong></td>
      <td class="alineartexto">0.28g</td>
    </tr>
    <tr>
      <td><strong>Potasio</strong></td>
      <td class="alineartexto">64mg</td>
    </tr>
    <tr>
      <td><strong>Fósforo</strong></td>
      <td class="alineartexto">42.4mg</td>
    </tr>
    <tr>
      <td><strong>Ceniza</strong></td>
      <td class="alineartexto">0.24mg</td>
    </tr>

  </table>
</div>

  </ion-content>
</ion-view>
