<ion-view view-title="ADNPro">
  <ion-content class="padding1">

  <h1 class="ProBio" align="center">Proyecto Biologia</h1>
  <br><br><br>
   <p align="center">
  El padre de la evolución es Charles Darwin, este planteo la idea de la evolución biológica de los seres vivir por medio de la selección natural, conoceremos frases de este importante científico que fue totalmente fundamental para defender y comprobar estas revolucionarias ideas.
    </p>
   </div>
   <br/> <br/> <br/>
   <hr/>

    <div class="cont1">
         <br/> <br/>
      <h2 class="Importancia" align="center">Importancia del Agua</h2>
    <br/> <br/> <br/>

     <p class="Text2" align="center">
    Podemos comenzar diciendo que el agua es uno de los elementos naturales que se encuentra en mayor cantidad en el planeta Tierra. Además, podemos agregar que el agua es uno de esos elementos que más directamente tienen que ver con la posibilidad del desarrollo de distintas formas de vida. Del mismo modo que sucede con el oxígeno, el agua es esencial para que tanto los vegetales como los animales, el ser humano y todas las formas de vida conocidas puedan existir.
     </p>

     <p class="Text3" align="center">
    Es importante tener en cuenta que los organismos de todos los seres vivos están compuestos en una alta proporción por agua, siendo que ésta es la que compone los músculos, órganos y los diferentes tejidos. Así, el agua se vuelve un elemento de suma importancia para la existencia de la vida.
     </p>
     <br><br>
     <div  class="text-center">
    <img  class="Impoagua" src="img/Impoagua.jpg"/>
     </div>
    <br/> <br/> <br/>
     </div>

    <hr/>

    <div class="cont2">
      <br/> <br/> <br/>

  <h2 class="ADN" align="center">ADN (ácido    desoxirribonucleico)</h2>
  <br/> <br/> <br/>

  <p align="center">
    Es la macromolécula base de la herencia.</b> Es un ácido nucleico que contiene la información de las características hereditarias de cada ser vivo y las secuencias para la creación de aminoácidos que generarán las proteínas vitales para el funcionamiento de los organismos.
  </p>
  <br/> <br/> <br/>

    <div class="text-center">
      <img class="ADNimg" src="img/ADN.gif"/>
    </div>

  <br/> <br/> <br/>
    </div>

  <hr/>
  <div class="cont3">
    <br><br>
  <h2 class="Alimentos" align="center">Importancia de la nutricion</h2>
   <br/> <br/> <br/>
  <p align="center">
  La nutrición es el concepto que hace referencia al proceso mediante el que el organismo asimila los nutrientes de los alimentos a través de una serie de fenómenos espontáneos, como son la digestión, la absorción de los nutrientes a la sangre a través del tubo digestivo y la asimilación de los mismos por las células del organismo. Y es por ello, que gracias a estos fenómenos llevados a cabo por la nutrición, se toma la energía necesaria para poder llevar a cabo el resto de las funciones vitales, además de para desempeñar las actividades cotidianas.
  </p>

  <p align="center">
  La nutrición es además la especialidad médica que se basa en el complejo análisis del conjunto de alimentos que un ser humano puede consumir y cómo esto puede adaptarse a diversas necesidades como por ejemplo una dieta hipocalórica, hipotensa, baja en sodio, etc. En este sentido, una nutrición adecuada es importantísima para que el cuerpo pueda obtener los mejores resultados de acuerdo a sus recursos o necesidades, así como también prevenir o curar enfermedades relacionadas con la alimentación. Por ejemplo, en sociedades occidentales la nutrición es hoy en día esencial para combatir la obesidad y el sobrepeso.
  </p>
   <br/> <br/> <br/>

    <div class="text-center">
      <img class="Alimentosimg" src="img/pidealimentos.jpg"/>
    </div>


   </div>


    <hr/>

    <div class="cont4">
       <h1 class="Des">Desarrolladores</h1>

    <p>Jonathan Ottoniel</p>
    <p>Sofia Camey</p>
    <p>Diego Felipe</p>
    <p>Eldin Escobar</p>
    <p>Christian Castañon</p>
    </div>

  </ion-content>
</ion-view>
